# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
/disk.img
/OVMF.fd
/font/8x16rk.bdf
/font/jiskan16.bdf
/font/JIS0201.TXT
/font/JIS0208.TXT
/hda/efi/boot/BOOTx64.efi
/hdb/somakern.bin
/hdb/somaconf.txt
/loader/loader
/loader/loader.efi
/kernel/kernel
/kernel/kernel.bin
/kernel/font_data.cpp
/tests/main
